@charset "UTF-8";

html, body {
    box-sizing: border-box;
    height:100%;
}

* {
    box-sizing: inherit;
}

head {
    font-family: sans-serif;
 
}

body {
  display:flex;
  flex-direction:column;
    background-color:wheat;
    font-family: sans-serif;
}

/* link styles */
a:link, a:visited { color:black }
a:focus, a:hover, a:active { color:blue }

/* header styles */
header {
    color:black;
    background:brown;
    background-size: cover; 
    background:  url(kuvia/pexels-daria-shevtsova-789786.jpg) no-repeat center center;
    background-size: cover; 
    text-align: center;
    height: 18em;
    font-family: sans-serif;
}
li {
    text-align: left;
    font-family: sans-serif;
}
img {
    max-width:80%;
    height: 15em;
    display: grid;
    margin-left:auto;
    margin-right:auto;
}
.sisalto{
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  bottom:0px;
  background:darkslategrey;
  width:100%;; 
  height: 6em;
  text-align: center;
  font-family: sans-serif;
}
article {
    padding:0.1cm;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
h2 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: sans-serif;
}
p{
    margin-left: auto;
    margin-right: auto;
    /*width: 50em;*/
}

form {
    margin-left: auto;
    margin-right: auto;
    /*width: 50em;*/
    font-family: sans-serif;
}
main {
    font-family: sans-serif;
    padding:4cm;
}
.grid-container {
  display: grid;
  height: auto;
  align-content: center;
  grid-gap: 20px;
  padding-bottom:70px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;

}
.laatikko {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  align-content: center;
}

.isotkuvat {
    min-width: 100%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
  }


/*tästä alkaa menun tyylit: Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav li.active a:focus,
  .topnav li.active a{
    background-color:peachpuff;
    color:black;
  }

  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 
  @media screen and (max-width: 600px) {
    .body {
      font-size: x-small;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  @media screen and (max-width: 600px) {
  main {
      padding:0.4cm;
    }
  }
