@charset "UTF-8";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color:lightgreen;
}

/* link styles */
a:link, a:visited { color:blue }
a:focus, a:hover, a:active { color: red }

/* header styles */
header {
    color: white;
    background:brown;
    background-size: cover; 
    background:  url(kuvia/pexels-daria-shevtsova-789786.jpg) no-repeat center center;
    background-size: cover; 
    text-align: center;
    height: 15em;
}