@charset "UTF-8";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

head {
    font-family: sans-serif;
}

body {
    background-color:wheat;
    font-family: sans-serif;
}

/* link styles */
a:link, a:visited { color:blue }
a:focus, a:hover, a:active { color: red }

/* header styles */
header {
    color:black;
    background:brown;
    background-size: cover; 
    background:  url(kuvia/pexels-daria-shevtsova-789786.jpg) no-repeat center center;
    background-size: cover; 
    text-align: center;
    height: 15em;
    font-family: sans-serif;
}
li {
    text-align: left;
    font-family: sans-serif;
}
img {
    max-width:100%;
    height: 15em;
}
footer {
    color: black;
    background:  url(kuvia/shutterstock_376532611.jpg) no-repeat center center;
    background-size: cover; 
    height: 15em;
    text-align: center;
    padding: 1cm;
    font-family: sans-serif;
}
article {
    padding:0.1cm;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
main {
    text-align: center;
    font-family: sans-serif;
}
.grid-container {
    display: grid;
  height: auto;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: peachpuff;
  padding: 10px;
  grid-gap: 2cm;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.isotkuvat {
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 10px;
    
  }
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
/*
@media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(3, 1fr); }
  }